<div id="events">
<h1><u>EVENTS</u></h1>
  <ul>
    <li>
      <a href="https://www.eventbrite.com/e/january-chapter-meeting-health-20-san-francisco-tickets-18908262121"> <h2>January: Janet Widmann of Blue Shield and Rock Health</h2>
      </a>
      <%=image_tag "janet.jpg", size: "167x222"%>
      <%=image_tag "blueshield.png", size: "181x225"%>
      <%=image_tag "rockhealth.png", size: "189x94" %>
    </li>
    <li>
      <a href="https://www.eventbrite.com/e/february-chapter-meeting-health-20-san-francisco-tickets-18908293214"><h2>February: Grace Hwang of IDEO</h2>
      </a>
      <%=image_tag "grace.jpg"%>
      <%=image_tag "ideo.jpg", size: "300x71" %>
    </li>
    <li>
      <a href="https://www.eventbrite.com/e/march-chapter-meeting-health-20-san-francisco-tickets-18908325310"><h2>March: Jordan Shlain of HealthLoop</h2>
      </a>
      <%=image_tag "jordan.jpg", size: "137x205"%>
      <%=image_tag "healthloop.png" %>
    </li>
  </ul>
  <br>
  <hr>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    <ul>
    <ul>
      <li><a href="/about">About</a></li>
    </ul>
  <nav>
</div>