<div class="modal">
  <div class="modal-close-outer">
    <div class="modal-close">&times;</div>
  </div>
</div>

<div class="modal-mask"></div>

<div id="header">
  <div class="container">
    <div class="row">
        <i id="nav-button" class="icon-circle-arrow-down"></i>
        <h2 id="logo"><img src="http://res.cloudinary.com/dhi8idvga/image/upload/c_scale,q_auto:best,w_256/v1482859364/health20sf_ggcksh.jpg"></h2>
      <div id="top-nav" class="">
        <ul id="fixed-nav">
          <li class="current"><a href="#home">Home</a></li>
          <li><a href="#aboutus">About Us</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#volunteer">Volunteer</a></li>
          <li><a href="#subscribe">Subscribe</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="hero bg-fixed bg-color" id="home">
  <div class="slogan">
    <div class="vcenter container">
      <div class="row">
        <div class="span12">
          <h1>THE PLACE FOR TECHNOLOGISTS, CLINICIANS
            <br>& GO-TO-MARKET TALENT TO COLLABORATE
            <br>AROUND DIGITAL HEALTH
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="aboutus">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <div class="title">
            <h2>About Us</h2>
            <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
            <p></p>
          </div>
          <p>
            <h4 class="text-center">
              What if technologists could harness the expertise of the best clinicians
              <br>
              to imagine technology that solves today’s healthcare problems?
            </h4>
          </p>
          <p>
            <h4 class="text-center standard-case">
              We’re pioneering a community to ensure
              <br>
              digital-health products meet real healthcare system and patient needs.
            </h6>
          </p>
          <p>
            <h4 class="text-center standard-case">
              We’re leveraging the expertise of our thousands of members in clinician-advised
              <br>
              approaches, systems thinking, and consumer-centered design
              <br>
              to deliver on this promise.
            </h6>
          </p>
          <br>
          <div class="pillarcenter">
            <div class="title">
              <h2>Our pillars</h2>
              <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
              <h5>As the San Francisco Chapter of Health 2.0, we invite you to...</h5>
              <p></p>
            </div>
            <div class="pillar">
              <strong class="text-center">CONNECT</strong>
              <br>
              We’re making connections and vetting ideas about new digital-health products
              for tackling healthcare’s most challenging problems.
            </div>
            <div class="pillar">
              <strong class="text-center">LEARN</strong>
              <br>
              We’re providing ongoing education through industry-leading keynotes
              and digital-health demos.
            </div>
            <div class="pillar">
              <strong class="text-center">COLLABORATE</strong>
              <br>
              We’re building bridges and collaborating with other digital-health organizations.
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-alt" id="events">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <div class="title">
            <h2>Upcoming Events</h2>
            <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
            <!-- <h5>Our events are held on the second Tuesday of each month from 6 p.m. to 8 p.m. at athenahealth in San Francisco</h5> -->
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Speaker</th>
                <th>Demo Companies </th>
                <th>Keynote Overview</th>
                <th>Registration</th>
              </tr>
            </thead>
            <tbody>
              <% @events.reverse.each do |event| %>
                <tr>
                  <td class="no-wrap"><%= event.speaker_date %></td>
                  <td><%= event.speaker_name %>
                    <br>
                    <a href="<%= event.speaker_image_url %>">
                      <img src="<%= event.speaker_image %>">
                    </a>
                  </td>
                  <td>
                    <% if event.demo_company_text && event.demo_company_text != "" %>
                      <%= event.demo_company_text %>
                    <% end %>
                    <br>
                    <% if event.demo_company_one_url != "" && event.demo_company_one_image != "" %>
                      <a href="<%= event.demo_company_one_url %>">
                        <img src="<%= event.demo_company_one_image %>">
                      </a>
                    <% end %>
                    <br>
                    <% if event.demo_company_two_url != "" && event.demo_company_two_image != "" %>
                      <a href="<%= event.demo_company_two_url %>">
                        <img src="<%= event.demo_company_two_image %>">
                      </a>
                    <% end %>
                    <% if event.demo_company_one_url == "" && event.demo_company_one_image == "" && event.demo_company_two_url == "" && event.demo_company_two_image == "" %>
                      TBA
                    <% end %>
                  </td>
                  <td><%= event.description %></td>
                  <td><a href="<%= event.eventbrite_link %>"><img src="http://res.cloudinary.com/dhi8idvga/image/upload/c_scale,q_auto:best,w_133/v1482859364/eventbrite_nlcbar.png"></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p class="text-center"><a href="http://www.eventbrite.com/o/health-20-san-francisco-chapter-8334986329?past=1">Past events</a></p>
          <p class="text-center"><strong>COMPANY DEMOS</strong>- Interested in presenting your digital-health company demo at an upcoming Chapter Meeting? Please email us at <a href="mailto:info@health2sf.com">info@health2sf.com</a></p>

      </div>
    </div>
  </div>
  <div class="title">
    <h2>Our sponsors</h2>
    <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
    <p></p>
  </div>
  <p class="text-center">
    <%= link_to 'http://www.athenahealth.com/' do %>
      <img src="http://res.cloudinary.com/dhi8idvga/image/upload/v1482859364/athenahealth_x1gegx.png">
    <% end %>
    <%= link_to 'http://www.nixonpeabody.com/' do %>
      <img src="http://res.cloudinary.com/dhi8idvga/image/upload/c_scale,q_auto:best,w_230/v1482859365/nixon_jyiznm.png">
    <% end %>
  </p>
</div>

<div class="section section-alt" id="news">
  <div class="container">
    <div class="content">
      <div class="row" >
        <div class="title">
          <h2>News</h2>
          <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
          <p>
            <h5>Health 2.0 San Francisco Chapter Merges with Bay Area Digital Health:</h5>
            <br>
            <h5><em>Two Leading, Digital Health Communities Unite to Expand Membership and Solve Real Healthcare System and Patient Needs</em></h5>
            <br>
            Click <a href="https://docs.google.com/document/d/1p_XrfyuSeaaR6M44zORkeOAstW7Fg7fu3Yz0vIP5OD0">here</a> to read the press release...

          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section section-alt" id="team">
  <div class="container">
    <div class="content">
      <div class="row" >
        <div class="title">
          <h2>Our Team</h2>
          <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Andy thrives on building connections between technologists, clinicians, and investors to holistically solve healthcare delivery problems. His vision is to leverage the non-profit Health 2.0 SF chapter to partner with local organizations to deliver on this promise.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/andystrunk"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:astrunk@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859363/andy_cni12r.jpg">
          <h3>Andy Strunk</h3>
          <p>
            President
          </p>
        </div>
        <div class="span4 i-block">
          <article>
            Elizabeth is responsible for the marketing function including strategy, operations, execution, and communications for the Health 2.0 SF chapter. She is passionate about rediscovering healthcare, preventative-based wellness, and communicating health consciousness.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/elizabethconrady"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:econrady@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859363/elizabeth_mihkai.jpg">
          <h3>Elizabeth Conrady</h3>
          <p>Vice President, Marketing</p>
        </div>
        <div class="span4 i-block">
          <article>
            Matthew manages relationships with Health 2.0 SF chapter event keynote speakers. He also leads a boutique digital health executive search business.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/mattlarwood"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:mlarwood@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859364/matt_hvcpmi.jpg">
          <h3>Matthew Larwood</h3>
          <p>Speaker Engagement Manager</p>
        </div>
      </div>
      <div class="hr hr-invisible"></div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Erik is an intellectual property attorney at Nixon Peabody that focuses on health care related patents. Erik also serves as outside general counsel for a number of digital health companies and helps them navigate the unique privacy, and other regulatory hurdles facing the industry, including for Health 2.0.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/erik-birkeneder-233b187"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:ebirkeneder@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859364/erik_xkpclq.jpg">
          <h3>Erik Birkeneder</h3>
          <p>Outside General Counsel</p>
        </div>
        <div class="span4 i-block">
          <article>
            Determined to fix the broken healthcare industry, Akansh co-founded a TechStars-funded B2B heathcare IT startup while still in college, followed by a short stint at a data-capture start-up focused on the insurance industry. In addition to building and maintaining Health 2.0 SF's website and directing the chapter's technical infrastructure in his spare time, Akansh is currently a software engineer at Kareo, a healthcare company.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/akanshmurthy"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:amurthy@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859363/akansh_aogaic.jpg">
          <h3>Akansh Murthy</h3>
          <p>Web Developer</p>
        </div>
        <div class="span4 i-block">
          <article>
            Tyler is a digital health enthusiast constantly searching for interesting companies to demo for Health 2.0! Full-time at Helix, a personal genomics start up, Tyler is also busy going on runs around San Francisco in his free time.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/tylerzanini"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:tzanini@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859366/tyler_vik0uv.jpg">
          <h3>Tyler Zanini</h3>
          <p>Demo Manager</p>
        </div>
      </div>
      <div class="hr hr-invisible"></div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Stephanie Miceli is a senior account executive within WE’s healthcare practice. Since joining WE in June 2012, she has honed her expertise in media relations, advocacy relations, disease awareness campaigns and IPO communications. Her healthcare client focus is the diagnostics, medical device and pharmaceutical sectors.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/stephanie-miceli"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:smiceli@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/stephanie_vuxj2c.jpg">
          <h3>Stephanie Miceli</h3>
          <p>Social Media Manager</p>
        </div>
        <div class="span4 i-block">
          <article>
            Sormeh is a health tech enthusiast who has worked in various industries (pharmaceutical, health IT, medical device) over the last 5 years and is passionate about improving public health through the use of technology. She enjoys connecting with new people and learning from key players in the health tech community.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/sormehmahjouri"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:smahjouri@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859366/sormeh_lsqmdm.jpg">
          <h3>Sormeh Mahjouri</h3>
          <p>Project Manager</p>
        </div>
        <div class="span4 i-block">
          <article>
            Sophia Lee is an Account Executive within WE’s technology and healthcare sectors. Her clients include the Biotechnology Innovation Organization (BIO), ZOOM+ and K2 Software. Prior to joining WE in January 2016, Sophia worked at FleishmanHillard where she serviced clients such as Walgreens, Abbott Diagnostics, Abbott Nutrition, American Cancer Society, Namzaric, Genentech and Baxter. Her main role consisted of serving as the point of contact for clients, leading local and national media relations efforts and developing creative content for consumer-facing healthcare campaigns.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/sophialee1"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:slee@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859366/sophia_yamjh4.jpg">
          <h3>Sophia Lee</h3>
          <p>Ambassador Program Manager</p>
        </div>
      </div>
      <div class="hr hr-invisible"></div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Yelena is harnessing the power of product marketing and communication to enhance life and Health 2.0 SF! She is passionate about behavior change and disease prevention, working both in-house as well as in a consulting capacity to bring cutting edge health tech products and services to market.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/yelenakozlova"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:ykozlova@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859366/yelena_pal0g8.jpg">
          <h3>Yelena Kozlova</h3>
          <p>Marketing Manager</p>
        </div>
        <div class="span4 i-block">
          <article>
            Milton Li is passionate about the up and coming digital health space and actively uses technology to educate communities and help them implement healthy diets. He co-founded Aegle Palette in high school, and currently serves as the CTO.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/milton-li-744241a8"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:mli@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/milton_kqzfvv.jpg">
          <h3>Milton Li</h3>
          <p>Website Designer & Videographer</p>
        </div>
        <div class="span4 i-block">
          <article>
            Rosa Ma is passionate about leveraging technology and data to improve health delivery and outcomes. As an Events Manager at Health 2.0, she is enthusiastic about meeting and connecting like-minded folks. Rosa is a full-time analyst in the biomedical consulting space.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/rosa-ma-41b54a18"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:rma@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/rosa_t2vzl6.jpg">
          <h3>Rosa Ma</h3>
          <p>Events Manager</p>
        </div>
      </div>
      <div class="hr hr-invisible"></div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Katherine Bruce is passionate about the potential of technology to improve healthcare delivery, access, and outcomes. She is excited to play a role in this process by facilitating connections and furthering collaboration between different players in the industry as the Community Engagement Manager for the Health 2.0 SF Chapter.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/katherinekbruce"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:kbruce@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859364/katherine_kbenjw.jpg">
          <h3>Katherine Bruce</h3>
          <p>Community Engagement Manager</p>
        </div>
        <div class="span4 i-block">
          <article>
            Hank is a recovering molecular biologist who now manages global market planning and competitive intelligence for a pharmaceutical company. He founded the Bay Area Digital Health Meetup, which merged with the San Francisco chapter of Health 2.0 in June 2016. Hank believes in building bridges between healthcare professionals and technologists.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/henryharingsma"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:hharingsma@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/placeholder_tuj5wr.png">
          <h3>Hank Haringsma</h3>
          <p>Market Planning Manager</p>
        </div>
      </div>
      <div class="hr hr-invisible"></div>
      <br>
      <br>
      <div class="title">
        <h2>Advisors</h2>
        <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
        <p></p>
      </div>
      <div class="row">
        <div class="span4 i-block">
          <article>
            Matthew co-founded Health 2.0 in 2007 and started The Health Care Blog in 2003. He has been working on health care & IT for more than 20 years.
            <br>
            <br>
            <a href="https://www.linkedin.com/in/sormehmahjouri"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:smahjouri@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/matthew_hnc09s.png">
          <h3>Matthew Holt</h3>
          <p>Advisor, Co-Chairman, Health 2.0</p>
        </div>
        <div class="span4 i-block">
          <article>
            Indu is the entrepreneurial force behind Health 2.0's vision and growth.
            <br>
            <br>
            <br>
            <a href="https://www.linkedin.com/in/sormehmahjouri"><i style="font-size:2em"class="icon-linkedin-sign"></i></a>
            <a href="mailto:smahjouri@health2sf.com"><i style="font-size:1.75em"class="icon-envelope"></i></a>
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/indu_swivhh.png">
          <h3>Indu Subaiya</h3>
          <p>Advisor, Co-Chairman and CEO, Health 2.0</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="volunteer">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="title">
          <h2>Join our team</h2>
          <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
          <p></p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="span4 i-block">
          <article class="blabla">
            Bla bla bla.
            <br>
            Bla bla bla.
            <br>
            Bla bla bla.
          </article>
          <img src="http://res.cloudinary.com/dhi8idvga/image/upload/q_100/v1482859365/placeholder_tuj5wr.png">
          <h3>This could be you!</h3>
          <p class="eventmanager">Bla bla bla</p>
        </div>
      </div> -->
      <br>
      <br>
      <p class=text-center>If interested in working with Health 2.0 San Francisco, please send an email to: <a href="mailto:info@health2sf.com">info@health2sf.com</a></p>
    </div>
  </div>
</div>

<div class="section" id="subscribe">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="title">
          <h2>Subscribe for news & event updates</h2>
          <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
          <p></p>
        </div>
      </div>
      <div class="row">
        <article class="newsletter-form">
        </article>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <div class="title">
            <h2>Contact Us</h2>
            <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
            <p></p>
          </div>
        </div>
        <div class="span8">
          <div style="height:475px;width:770px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=50+Hawthorne+Street,++San+Francisco,+CA+94105&key=AIzaSyD1pxr8rBDhBHkKX5oaq129nOSZm2_Off4"></iframe></div><a class="embedded-map-html" href="http://www.dog-checks.com" id="auth-maps-data">dog-checks.com</a><style>#embedded-map-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=e22d904e-e786-9564-adaa-1e8671b52082&c=embedded-map-html&u=1461153447" defer="defer" async="async"></script>
        </div>
        <div class="span4">
          <h4>Our Meeting Location</h4>
          <p>athenahealth
            <br>
            50 Hawthorne Street
            <br>
            San Francisco, CA 94105
          </p>
          <hr class="grey"/>
          <h4>Our Mailing Address</h4>
          <p>Health 2.0 San Francisco Chapter
            <br>
            350 Townsend Street, #403
            <br>
            San Francisco, CA 94107
          </p>
          <p>E: <a href="mailto:info@health2sf.com">info@health2sf.com</a> P: (415) 992-7527</p>
          <hr class="grey"/>
          <h4>Socialize With Us</h4>
          <div class="social">
            <a href="https://twitter.com/health2consf"><i class="icon-twitter-sign"></i></a>
            <a href="https://www.linkedin.com/groups/4339066"><i class="icon-linkedin-sign"></i></a>
          </div>
          <br>
          <br>
          <hr class="grey"/>
          <h4>Upcoming Health 2.0 Conferences</h4>
          Visit <a href="http://www.health2con.com/">Health 2.0</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  &copy; 2016 Health 2.0 | San Francisco Chapter
  <br>
  Member of Health 2.0 Advocates Inc, a 501(c)(3) nonprofit.
</div>

<script>
  $(document).ready(function() {

    $(document).ready(function () {
      var url = window.location.href;
      if (url === 'http://www.health2sf.com/'){
        setTimeout(function(){$(".modal, .modal-mask").fadeIn(); }, 200);
      }
    });

    $( ".modal" ).append( $( ".hbspt-form" ) );
    $('.modal-close').click(function(){
        $('.modal').hide();
        $('.modal-mask').hide();
    });
  });
</script>

<!-- [if lte IE 8]>
 <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif] -->

<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: '2333626',
    formId: '9a3ba836-f31f-4869-8d28-d264cc4259a8'
  });
  hbspt.forms.create({
    portalId: '2333626',
    formId: '7ff1f00b-988c-4906-bd48-57ba6851b135',
    target: '.newsletter-form'
  });
</script>
