<div class="internal-header">
  <div class="container">
    <div class="row">
      <h2 class="internal-logo"><img src="http://res.cloudinary.com/dhi8idvga/image/upload/c_scale,q_auto:best,w_256/v1482859364/health20sf_ggcksh.jpg"></h2>
      <% provide(:title, 'Search') %>
      <% provide(:button_text, 'Search') %>
      <h1>Search for users</h1>
      <br>
      <div class="col-md-6 col-md-offset-3">
        <p>Search by first name, last name, profession, company name, industry, or industry expertise.</p>
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], placeholder: "Enter search term..." %>
            <br />
            <br />
            <ul class="actions">
              <%= submit_tag 'Search', name: nil, class: "btn" %>
            </ul>
        <% end %>
        <% if @profiles.length > 0 %>
          <% @profiles.each do |profile| %>
            <h2><a href="<%=user_profile_path(profile.user_id, profile.id)%>"><%=profile.first_name%> <%=profile.last_name%></a></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>