<div id="header">
  <div class="container">
    <div class="row">
      <% provide(:title, 'Create a profile') %>
      <% provide(:button_text, 'Create a profile') %>
      <h1>Create a Profile</h1>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>
            First name: <%=@profile.first_name %>
          </p>
          <p>
            Last name: <%=@profile.last_name %>
          </p>
          <p>
            Email: <%=@profile.email %>
          </p>
          <p>
            Title: <%=@profile.title %>
          </p>
          <p>
            Profession: <%=@profile.profession %>
          </p>
          <p>
            Industry: <%=@profile.industry %>
          </p>
          <p>
            Company name: <%=@profile.company_name %>
          </p>
          <p>
            Phone number: <%=@profile.phone_number %>
          </p>
          <p>
            Industry expertise: <%=@profile.industry_expertise %>
          </p>
          <p>
            LinkedIn URL: <%=@profile.linkedin_url %>
          </p>
          <p>
            Preferred method of contact:<%=@profile.preferred_method_of_contact %>
          </p>
          <p>
            Topic of interest for networking: <%=@profile.network_topic %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

