<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% if @user.admin %>
  <%= button_to 'Events', events_path, :method => :get %>
<% end %> 
<% if @profile %> 
  <%= button_to 'Profile', user_profile_path(params[:id], @profile.id), :method => :get %>
<% else %>
  <%= button_to 'Create Profile', new_user_profile_path(params[:id]), :method => :get %>
<% end %>
