<div id="header">
  <div class="container">
    <div class="row">
      <h1>Edit an existing event</h1>
      <br>
      <%= form_for @event do |form| %>

      <p>
        <%= form.label :speaker_name, "Speaker Name:" %>
        <%= form.text_field :speaker_name %>
      </p>
      <p>
        <%= form.label :speaker_image, "Speaker Image:" %>
        <%= form.text_field :speaker_image %>
      </p>
      <p>
        <%= form.label :speaker_image_url, "Speaker Image URL:" %>
        <%= form.text_field :speaker_image_url %>
      </p>
      <p>
        <%= form.label :speaker_date, "Speaker Date:" %>
        <%= form.text_field :speaker_date %>
      </p>
      <p>
        <%= form.label :demo_company_text, "Demo Company text (optional):" %>
        <%= form.text_field :demo_company_text %>
      </p>
      <p>
        <%= form.label :demo_company_one_image, "Demo Company #1 image:" %>
        <%= form.text_field :demo_company_one_image %>
      </p>
      <p>
        <%= form.label :demo_company_one_url, "Demo Company #1 url:" %>
        <%= form.text_field :demo_company_one_url %>
      </p>
      <p>
        <%= form.label :demo_company_two_image, "Demo Company #2 image:" %>
        <%= form.text_field :demo_company_two_image %>
      </p>
      <p>
        <%= form.label :demo_company_two_url, "Demo Company #2 url:" %>
        <%= form.text_field :demo_company_two_url %>
      </p>
      <p>
        <%= form.label :description, "Description:" %>
        <%= form.text_field :description %>
      </p>
      <p>
        <%= form.label :eventbrite_link, "Eventbrite Link:" %>
        <%= form.text_field :eventbrite_link %>
      </p>

      <p class='buttons'>
        <%= form.submit "Edit event" %>
      </p>

      <% end %>
    </div>
  </div>
</div>
