<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="utf-8" /> -->
  <title>Health 2.0 San Francisco</title>
  <meta name="description" content="">
	<meta name="author" content="">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home color-2">
<!-- <%= render 'layouts/header' %> -->

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
  <%= yield %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74192865-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    $(".pulsate").click(function() {
      $( this ).removeClass( "pulsate" );
    });
    $( "p.eventmanager" ).hover(
      function() {
        $( "article.eventmanager" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.eventmanager" ).fadeTo( "medium", "0" );
      }
    );
    $( "p.onsitevolunteer" ).hover(
      function() {
        $( "article.onsitevolunteer" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.onsitevolunteer" ).fadeTo( "medium", "0" );
      }
    );
    $( "p.websitedesigner" ).hover(
      function() {
        $( "article.websitedesigner" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.websitedesigner" ).fadeTo( "medium", "0" );
      }
    );
    $( "p.projectmanager" ).hover(
      function() {
        $( "article.projectmanager" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.projectmanager" ).fadeTo( "medium", "0" );
      }
    );
    $( "p.socialmediamanager" ).hover(
      function() {
        $( "article.socialmediamanager" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.socialmediamanager" ).fadeTo( "medium", "0" );
      }
    );
    $( "p.cliniciantechnologist" ).hover(
      function() {
        $( "article.cliniciantechnologist" ).fadeTo( "medium", "1" );
      }, function() {
        $( "article.cliniciantechnologist" ).fadeTo( "medium", "0" );
      }
    );
  </script>
</body>
</html>
